.input-container {
  .input-row {
    margin: 1rem auto;
    width: 80%;
  }

  .input-item {
    width: 100%;
  }

  .select-status {
    width: 100%;
  }

  .add-button-wrapper {
    text-align: center;
    .add-button {
      padding: 1rem 5rem;
    }
  }
}
