.input-container {
  .input-item {
    width: 100%;
  }

  .select-status {
    width: 100%;

    @media (min-width: 768px) {
      width: 60%;
      margin: 0 0 0 1rem !important;
    }
  }
  .add-button {
    padding: 1rem;
    @media (min-width: 768px) {
      padding: 1rem 3rem;
    }
  }
}
