.filter-container {
  text-align: right;

  button {
    cursor: pointer;
  }

  .button-hover {
    text-decoration: none;
    background-color: rgba(156, 39, 176, 0.04);
    border: 1px solid #9c27b0;
  }
}
